ul{
	list-style-type: none;
	background-color: #333;
	padding: 10px;
}

li{
	display:inline;
	margin-right: 15px;
}

a{
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}

a:hover{
	color: red;
}