/* CSS básico para Menu de Navegação */

ul{
	list-style-type:none;
	/* list-style-type: none; — Tira as bolinhas (marcadores) 
	da lista <ul>. */
	background-color: #333;
	padding: 10px;
}

/* Coloca os itens da lista lado a lado */
li{
	display: inline;
	/* display: inline; — Faz os itens <li> ficarem na mesma 
	linha em vez de um abaixo do outro. */
	margin-right: 15px;
}

/* Estiliza os links */
a{
	color:white;
	text-decoration: none;
	/* Remove o sublinhado padrão dos links (<a>).*/
	font-family: sans-serif; */
}

/* a:hover — Altera a cor do texto para amarelo 
quando o usuário passa o ponteiro do mouse por cima. */
a:hover{
	color: yellow;
}

